@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#espacio-titulo {
    letter-spacing: -2px;
}

/* SIDEBAR ESTILOS */
#sidebar {
    padding: 0;
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
}

#sidebar header {
   
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #D40000;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

#sidebar a {
    display: block;
    width: 100%;
    color: white;
    padding: 16px 0 16px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(232, 30, 30, 0.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

#sidebar a:hover, a.activo {
    color: red;
    border-left: 5px solid red;

}

#sidebar a i {
    font-size: 20px;
    margin-right: 16px;
    width: 20px;
    display: inline-block;
    text-align: center;
}

#sidebar a span {
    letter-spacing: 1px;
    text-transform: capitalize;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 20px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ #sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

#check:checked ~ section.cuerpo {
    margin-left: 250px;

}

section.cuerpo {

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* ESTILO DE TABLAS*/
table {

}

thead {
    color: white;
    background-color: #D40000;
}

thead tr th {
    border: solid 1px #D40000;

}


/*sidebar media query*/
@media (max-width: 860px) {
    #sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    #sidebar a {
        height: 60px;
    }

    #sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    #sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}
